@model Category
<div class="row">
    <div class="col-md-8">
        <img src="~/images/@Model.Image" />
        <h4>Name: <b>@Model.Name</b></h4>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>
