@model Group
<div class="row">
    <div class="col-md-8">
        <h4>Name: <b>@Model.Name</b></h4>
        <h4>Student Count: <b>@Model.StudentCount</b></h4>
        <h4>Category: <b>@Model.Category.Name</b></h4>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
        <a asp-action="DeleteConfirmed" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </div>
</div>